In [1]:
import pandas as pd
dataset =pd.read_csv('Affairs.csv',index_col=0)
dataset

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
4,0,male,37.0,10.00,no,3,18,7,4
5,0,female,27.0,4.00,no,4,14,6,4
11,0,female,32.0,15.00,yes,1,12,1,4
16,0,male,57.0,15.00,yes,5,18,6,5
23,0,male,22.0,0.75,no,2,17,6,3
...,...,...,...,...,...,...,...,...,...
1938,1,male,22.0,1.50,yes,1,12,2,5
1941,7,female,32.0,10.00,yes,2,18,5,4
1954,2,male,32.0,10.00,yes,2,17,6,5
1959,2,male,22.0,7.00,yes,3,18,6,2
9010,1,female,32.0,15.00,yes,3,14,1,5

In [2]:
assert dataset.shape[0] == 601

assert dataset.shape[1] in {9, 10}

assert dataset.shape[1] == 9

In [3]:
def correlation(x,y):
    return sum(((x-x.mean())*(y-y.mean()))/(x.std()*y.std()))/len(x)

In [4]:
assert 0 <= correlation(dataset['age'], dataset['affairs']) <= 1.0
assert -1.0 <= correlation(dataset['religiousness'], dataset['affairs']) <= 0

In [5]:
corrs = {att:correlation(dataset[att],dataset.affairs) for att in dataset if dataset[att].dtype=='int64' or dataset[att].dtype=='float64' }

In [6]:
corrs

{'affairs': 0.9983361064891862,
 'age': 0.09507873959022461,
 'yearsmarried': 0.18653080166360533,
 'religiousness': -0.14426091063811738,
 'education': -0.002433385105438174,
 'occupation': 0.04952920915098738,
 'rating': -0.27904732421401246}

In [7]:
assert 'age' in corrs
assert type(corrs['education']) == float

In [8]:
dataset.gender=list(map(lambda x: 'm' if x=='male' else 'f', dataset.gender))
dataset

,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
4,0,m,37.0,10.00,no,3,18,7,4
5,0,f,27.0,4.00,no,4,14,6,4
11,0,f,32.0,15.00,yes,1,12,1,4
16,0,m,57.0,15.00,yes,5,18,6,5
23,0,m,22.0,0.75,no,2,17,6,3
...,...,...,...,...,...,...,...,...,...
1938,1,m,22.0,1.50,yes,1,12,2,5
1941,7,f,32.0,10.00,yes,2,18,5,4
1954,2,m,32.0,10.00,yes,2,17,6,5
1959,2,m,22.0,7.00,yes,3,18,6,2
9010,1,f,32.0,15.00,yes,3,14,1,5

In [9]:
assert all(map(lambda s: s in {'m','f'}, dataset['gender']))

In [10]:
male_no = list(dataset[(dataset.gender=='m') & (dataset.children=='no')].education)
male_no

[18,
 17,
 14,
 17,
 16,
 18,
 18,
 20,
 17,
 16,
 20,
 18,
 16,
 18,
 17,
 18,
 20,
 20,
 14,
 16,
 17,
 18,
 18,
 17,
 20,
 17,
 17,
 16,
 18,
 18,
 18,
 18,
 20,
 18,
 16,
 16,
 16,
 17,
 18,
 14,
 20,
 18,
 20,
 17,
 20,
 16,
 16,
 20,
 14,
 12,
 18,
 20,
 9,
 18,
 12,
 16,
 14,
 18,
 16,
 18,
 18,
 20,
 14,
 14,
 14,
 14,
 14,
 18,
 16,
 14,
 12,
 18]

In [11]:
assert isinstance(male_no, list)
assert isinstance(male_no[0], int)

In [12]:
male_no_3 = [(male_no[i],male_no[i+1],male_no[i+2]) for i in range(0,len(male_no),3)]
male_no_3

[(18, 17, 14),
 (17, 16, 18),
 (18, 20, 17),
 (16, 20, 18),
 (16, 18, 17),
 (18, 20, 20),
 (14, 16, 17),
 (18, 18, 17),
 (20, 17, 17),
 (16, 18, 18),
 (18, 18, 20),
 (18, 16, 16),
 (16, 17, 18),
 (14, 20, 18),
 (20, 17, 20),
 (16, 16, 20),
 (14, 12, 18),
 (20, 9, 18),
 (12, 16, 14),
 (18, 16, 18),
 (18, 20, 14),
 (14, 14, 14),
 (14, 18, 16),
 (14, 12, 18)]

In [13]:
assert len(male_no_3) == len(male_no) // 3
assert len(male_no_3[0]) == 3

In [14]:
def check_dup(l):
    lista = sorted(l.copy())
    
    count = 0
    
    for i in range(0,len(lista)-1):
        if lista[i]==lista[i+1]:
            count+=1
            
    return count

In [18]:
print(check_dup(male_no))
print(check_dup(male_no_3))

65
1

In [20]:
assert male_no != sorted(male_no)
assert check_dup(male_no_3) == 1
assert check_dup(male_no) == 65

In [21]:
gs = ':'.join(i for i in dataset.gender)
gs

'm:f:f:m:m:f:f:m:f:m:m:m:m:f:f:f:f:f:f:f:f:f:f:f:m:f:f:m:m:f:m:f:m:f:m:f:f:f:m:f:m:m:f:f:f:m:f:f:m:m:f:m:m:m:m:f:m:f:f:m:f:m:f:m:m:m:m:f:f:f:f:f:f:m:m:m:f:m:f:m:m:m:f:m:f:f:f:f:f:f:f:m:m:m:m:f:m:m:m:m:f:m:f:m:f:m:m:m:m:f:f:f:f:m:f:m:m:m:f:f:f:f:m:f:f:m:f:m:m:m:f:m:f:m:f:f:f:f:m:m:f:f:m:m:m:m:m:f:f:m:m:m:m:m:m:m:f:f:m:m:f:f:m:f:f:f:f:f:m:m:m:f:f:f:f:m:f:f:f:f:f:m:f:f:f:f:m:m:m:m:m:f:m:m:f:m:m:f:m:f:m:m:f:m:f:f:f:f:f:f:f:m:m:m:f:m:m:m:f:m:f:m:f:m:f:f:f:m:m:m:f:f:f:m:m:m:f:f:m:f:m:f:m:m:f:m:f:f:f:m:f:m:m:f:m:f:f:m:m:f:f:m:m:f:f:m:f:f:m:f:m:m:f:m:f:f:m:f:m:m:m:f:f:f:f:m:m:m:f:f:f:m:m:f:f:m:f:f:m:m:f:m:m:m:f:f:m:f:m:m:f:f:m:m:f:m:f:m:f:m:f:f:m:f:f:m:m:f:f:m:m:f:f:f:m:f:f:f:f:f:m:f:m:f:m:m:m:m:f:m:f:f:m:f:f:f:f:m:m:m:m:f:f:f:m:m:f:f:f:f:f:m:m:f:m:f:f:f:f:f:f:m:m:m:f:f:f:f:f:f:f:m:f:m:f:m:f:f:f:m:m:f:m:m:m:m:m:m:f:f:f:m:m:m:f:f:f:m:f:f:m:f:f:f:m:m:m:f:f:m:f:f:m:f:f:f:f:f:m:m:f:m:f:f:f:f:f:m:m:m:f:m:f:m:f:m:f:m:f:m:f:f:f:f:m:f:m:m:f:m:f:f:f:m:f:f:f:m:m:f:f:m:f:f:f:m:f:f:m:f:m:m:f:m:m:m:f:m:f:m:m:m:m:m:f:m:f:m:m:m:m:m:f:f:m:m:m:f:m:m:f:f:m:m:m:f:f:f:f:m:f:m:m:f:f:m:m:f:f:m:f:f:f:m:m:f:f:f:m:m:f:m:m:f:m:m:m:m:f:m:m:f:f:m:f:f:f:m:f:f:f:f:f:f:m:f:f:m:m:m:m:m:m:m:m:m:f:m:f:f:f:m:f:m:m:m:m:f:m:m:f'

In [22]:
assert set(gs)==set('fm:')

assert len([(gs[i], gs[i+1]) for i in range(0,len(gs)-1,2) if not(gs[i] in {'m','f'} and gs[i+1] == ':')])==0

In [38]:
import re
count = len(re.findall(r'f{4,}',gs.replace(':','')))
count += len(re.findall(r'm{4,}',gs.replace(':','')))
count

39

In [39]:
gs

'm:f:f:m:m:f:f:m:f:m:m:m:m:f:f:f:f:f:f:f:f:f:f:f:m:f:f:m:m:f:m:f:m:f:m:f:f:f:m:f:m:m:f:f:f:m:f:f:m:m:f:m:m:m:m:f:m:f:f:m:f:m:f:m:m:m:m:f:f:f:f:f:f:m:m:m:f:m:f:m:m:m:f:m:f:f:f:f:f:f:f:m:m:m:m:f:m:m:m:m:f:m:f:m:f:m:m:m:m:f:f:f:f:m:f:m:m:m:f:f:f:f:m:f:f:m:f:m:m:m:f:m:f:m:f:f:f:f:m:m:f:f:m:m:m:m:m:f:f:m:m:m:m:m:m:m:f:f:m:m:f:f:m:f:f:f:f:f:m:m:m:f:f:f:f:m:f:f:f:f:f:m:f:f:f:f:m:m:m:m:m:f:m:m:f:m:m:f:m:f:m:m:f:m:f:f:f:f:f:f:f:m:m:m:f:m:m:m:f:m:f:m:f:m:f:f:f:m:m:m:f:f:f:m:m:m:f:f:m:f:m:f:m:m:f:m:f:f:f:m:f:m:m:f:m:f:f:m:m:f:f:m:m:f:f:m:f:f:m:f:m:m:f:m:f:f:m:f:m:m:m:f:f:f:f:m:m:m:f:f:f:m:m:f:f:m:f:f:m:m:f:m:m:m:f:f:m:f:m:m:f:f:m:m:f:m:f:m:f:m:f:f:m:f:f:m:m:f:f:m:m:f:f:f:m:f:f:f:f:f:m:f:m:f:m:m:m:m:f:m:f:f:m:f:f:f:f:m:m:m:m:f:f:f:m:m:f:f:f:f:f:m:m:f:m:f:f:f:f:f:f:m:m:m:f:f:f:f:f:f:f:m:f:m:f:m:f:f:f:m:m:f:m:m:m:m:m:m:f:f:f:m:m:m:f:f:f:m:f:f:m:f:f:f:m:m:m:f:f:m:f:f:m:f:f:f:f:f:m:m:f:m:f:f:f:f:f:m:m:m:f:m:f:m:f:m:f:m:f:m:f:f:f:f:m:f:m:m:f:m:f:f:f:m:f:f:f:m:m:f:f:m:f:f:f:m:f:f:m:f:m:m:f:m:m:m:f:m:f:m:m:m:m:m:f:m:f:m:m:m:m:m:f:f:m:m:m:f:m:m:f:f:m:m:m:f:f:f:f:m:f:m:m:f:f:m:m:f:f:m:f:f:f:m:m:f:f:f:m:m:f:m:m:f:m:m:m:m:f:m:m:f:f:m:f:f:f:m:f:f:f:f:f:f:m:f:f:m:m:m:m:m:m:m:m:m:f:m:f:f:f:m:f:m:m:m:m:f:m:m:f'

In [40]:
assert count == 39

In [42]:
count = re.findall(r'(f:){4,}', gs)
count

['f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:',
 'f:']