In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('beav1.csv')
dataset.shape

(114, 4)

In [4]:
print(f'Il dataset ha {dataset.shape[0]} righe e {dataset.shape[1]} colonne')

Il dataset ha 114 righe e 4 colonne

In [5]:
assert dataset.shape == (114, 4)

In [6]:
def intTimeToString(int_time):
    minuti = str(int_time%100)
    ore = str(int_time//100)
    
    if(len(minuti)==1):
        minuti+='0'
    if(len(ore)==1):
        ore = '0'+ore
        
    return f'{ore}:{minuti}'

In [7]:
assert intTimeToString(1230) == "12:30"

In [8]:
assert intTimeToString(840) == "08:40"
assert intTimeToString(0) == "00:00"
assert intTimeToString(1000) == "10:00"

In [9]:
times= dataset.time
time_strings = list(map(intTimeToString,times))

In [10]:
assert all(isinstance(s, str) for s in time_strings)
assert len(time_strings) == dataset.shape[0]
assert all(':' in s for s in time_strings)

In [16]:
import datetime

data = datetime.date(1990,1,1)
dataTime = datetime.timedelta(346)
final_date = data + dataTime

In [17]:
assert final_date.year == 1990
assert final_date.month == 12
assert final_date.day == 13

In [18]:
timestamps = [f'{final_date},{x}' for x in time_strings]
timestamps

['1990-12-13,08:40',
 '1990-12-13,08:50',
 '1990-12-13,09:00',
 '1990-12-13,09:10',
 '1990-12-13,09:20',
 '1990-12-13,09:30',
 '1990-12-13,09:40',
 '1990-12-13,09:50',
 '1990-12-13,10:00',
 '1990-12-13,10:10',
 '1990-12-13,10:20',
 '1990-12-13,10:30',
 '1990-12-13,10:40',
 '1990-12-13,10:50',
 '1990-12-13,11:00',
 '1990-12-13,11:10',
 '1990-12-13,11:20',
 '1990-12-13,11:30',
 '1990-12-13,11:40',
 '1990-12-13,11:50',
 '1990-12-13,12:00',
 '1990-12-13,12:10',
 '1990-12-13,12:20',
 '1990-12-13,12:30',
 '1990-12-13,12:40',
 '1990-12-13,12:50',
 '1990-12-13,13:00',
 '1990-12-13,13:10',
 '1990-12-13,13:20',
 '1990-12-13,13:30',
 '1990-12-13,13:40',
 '1990-12-13,13:50',
 '1990-12-13,14:00',
 '1990-12-13,14:10',
 '1990-12-13,14:20',
 '1990-12-13,14:30',
 '1990-12-13,14:40',
 '1990-12-13,14:50',
 '1990-12-13,15:00',
 '1990-12-13,15:10',
 '1990-12-13,15:20',
 '1990-12-13,15:30',
 '1990-12-13,15:40',
 '1990-12-13,15:50',
 '1990-12-13,16:00',
 '1990-12-13,16:10',
 '1990-12-13,16:20',
 '1990-12-13,16:30',
 '1990-12-13,16:40',
 '1990-12-13,16:50',
 '1990-12-13,17:00',
 '1990-12-13,17:10',
 '1990-12-13,17:20',
 '1990-12-13,17:30',
 '1990-12-13,17:40',
 '1990-12-13,17:50',
 '1990-12-13,18:00',
 '1990-12-13,18:10',
 '1990-12-13,18:20',
 '1990-12-13,18:30',
 '1990-12-13,18:40',
 '1990-12-13,18:50',
 '1990-12-13,19:00',
 '1990-12-13,19:10',
 '1990-12-13,19:20',
 '1990-12-13,19:30',
 '1990-12-13,19:40',
 '1990-12-13,19:50',
 '1990-12-13,20:00',
 '1990-12-13,20:10',
 '1990-12-13,20:20',
 '1990-12-13,20:30',
 '1990-12-13,20:40',
 '1990-12-13,20:50',
 '1990-12-13,21:00',
 '1990-12-13,21:10',
 '1990-12-13,21:20',
 '1990-12-13,21:30',
 '1990-12-13,21:40',
 '1990-12-13,21:50',
 '1990-12-13,22:00',
 '1990-12-13,22:10',
 '1990-12-13,22:30',
 '1990-12-13,22:40',
 '1990-12-13,22:50',
 '1990-12-13,23:00',
 '1990-12-13,23:10',
 '1990-12-13,23:20',
 '1990-12-13,23:30',
 '1990-12-13,23:40',
 '1990-12-13,23:50',
 '1990-12-13,00:00',
 '1990-12-13,00:10',
 '1990-12-13,00:20',
 '1990-12-13,00:30',
 '1990-12-13,00:40',
 '1990-12-13,00:50',
 '1990-12-13,01:00',
 '1990-12-13,01:10',
 '1990-12-13,01:20',
 '1990-12-13,01:30',
 '1990-12-13,01:40',
 '1990-12-13,01:50',
 '1990-12-13,02:00',
 '1990-12-13,02:10',
 '1990-12-13,02:20',
 '1990-12-13,02:30',
 '1990-12-13,02:40',
 '1990-12-13,02:50',
 '1990-12-13,03:00',
 '1990-12-13,03:10',
 '1990-12-13,03:20',
 '1990-12-13,03:30',
 '1990-12-13,03:40']

In [19]:
import re

assert len(timestamps) == len(time_strings)
assert all(re.fullmatch(r"\d{4}-\d{2}-\d{2},\d{2}:\d{2}", s) for s in timestamps)

In [20]:
dataset.day.unique()

array([346, 347])

In [22]:
unique_days = list(dataset.day.unique())
unique_days

[346, 347]

In [23]:
avg_temp = {
    unique_days[0] : dataset[dataset.day==unique_days[0]].temp.mean(),
    unique_days[1] : dataset[dataset.day==unique_days[1]].temp.mean()
}

In [24]:
avg_temp

{346: 36.869780219780196, 347: 36.832173913043476}

In [25]:
assert unique_days == [346, 347]
assert all(36.0 < avg_temp[d] < 37.0 for d in avg_temp)

In [26]:
seq = ''.join(str(x) for x in dataset.activ)

In [27]:
num = len(re.findall(r'10+1',seq))
num

3

In [28]:
assert all(c in {'0','1'} for c in seq)
assert num == 3

In [29]:
seq

'000000000000000000000000000000000000000000000000000001000000000000010000000000010010010000000000000000000000000001'

In [37]:
num = 0;
decimal = 0
for i in seq:
    num += 1
    if (i =='1'):
        decimal += 2**(len(seq)-num) 
decimal

1152991892946812929

In [38]:
assert decimal > 1000000000000000000