# Prova di esame (laboratorio)

La prova avrà una durata massima di due ore e porterà a una valutazione massima di 21 punti. Il voto finale si otterrà per somma del punteggio del test di teoria e della prova di laboratorio. 

La prova consiste in un insieme di quiz proposti attraverso un Jupyter Notebook (non sono ammessi altri strumenti software) da svolgere sui computer del laboratorio (non sono ammessi altri strumenti hardware). Durante la prova si può consultare il libro di testo, le slide usate a lezione, un manuale python (approvato dal docente) oppure le guide in linea suggerite da Jupyter Notebook. Non sono ammessi altri strumenti di consultazione.

### Prima della prova

Specificare la informazioni richieste nelle celle sottostanti e salvare il notebook con il proprio nome.

### Durante la prova

Nelle celle markdown, cancellare il testo "YOUR ANSWER HERE" con la propria risposta. Nelle celle codice, rimuovere la linea di codice
```python
raise NotImplementedError()
```
e sostituirla con la propria implementazione.
Dopo ogni cella codice che deve contenere la risposta al quesito, esiste una cella codice con delle *asserzioni*, ossia delle istruzioni che verificano la correttezza della propria soluzione. (Queste asserzioni saranno usate per valutare la correttezza della risposta data e assegnare un punteggio.) E' possibile eseguire queste celle per verificare che la soluzione proposta sia corretta.


### Dopo la prova

Salvare il file dopo aver terminato. Consegnare l'elaborato utilizzando la piattaforma ADA.

## Traccia

### Urine Analysis Data

79 campioni di urine sono stati analizzati per dererminare se alcune caratteristiche fisiche dell'urina può essere collegata con la formazione di cristalli di ossalato di calcio. 

#### Formato
Ogni riga è costituita dalle seguenti colonne, oltre lo ID: 
- r: Indicatore della presenza di cristalli di ossalato di calcio
- gravity: peso specifico dell'urina
- ph: valore di ph dell'urina
- osmo: osmolarità dell'urina (concentrazione di molecole nella soluzione)
- cond: conduttività dell'urina (concentrazione di ioni carichi nella soluzione)
- urea: concentrazione di urea (in millimoli per litro)
- calc: concentrazione di calcio

## Caricamento dati

Caricare il dataset `urine.csv` in un DataFrame di nome `dataset`. Utilizzate la prima colonna come indice di riga (utilizzare il parametro `index_col`)

In [1]:
import pandas as pd 

dataset = pd.read_csv('urine.csv' , index_col = 0)

dataset

    r  gravity    ph   osmo  cond  urea   calc
1   0    1.021  4.91  725.0   NaN   443   2.45
2   0    1.017  5.74  577.0  20.0   296   4.49
3   0    1.008  7.20  321.0  14.9   101   2.36
4   0    1.011  5.51  408.0  12.6   224   2.15
5   0    1.005  6.52  187.0   7.5    91   1.16
.. ..      ...   ...    ...   ...   ...    ...
75  1    1.025  7.90  721.0  23.6   301   9.04
76  1    1.017  4.81  410.0  13.3   195   0.58
77  1    1.024  5.40  803.0  21.8   394   7.82
78  1    1.016  6.81  594.0  21.4   255  12.20
79  1    1.015  6.03  416.0  12.8   178   9.39

[79 rows x 7 columns]

In [2]:
assert dataset.shape == (79, 7)

### Lista di medie 

Definire una lista denominata `means`, costituita da due elementi. L'elemento in posizione 0 contiene il calcolo delle medie delle colonne del dataset per r=0; analogamente, l'elemento in posizione 1 contiene il calcolo delle medie delle colonne del dataset per r=1. Utilizzare il metodo `mean` di DataFrame per calcolare le medie.

In [3]:
means = [dataset[dataset.r == r].mean() for r in (0 , 1)]

means

[r            0.000000
 gravity      1.015489
 ph           6.098667
 osmo       565.288889
 cond        20.550000
 urea       237.111111
 calc         2.624889
 dtype: float64,
 r            1.000000
 gravity      1.021588
 ph           5.935588
 osmo       682.878788
 cond        21.355882
 urea       305.176471
 calc         6.142941
 dtype: float64]

In [4]:
assert len(means) == 2
assert means[0].gravity > 0

### Differenze di medie 

Calcolare la differenza dei valor medi di ciascuna colonna del dataset, tra il sottoinsieme di righe per r=0 e il sottinsieme righe per r=1. Memorizzare il risultato nella variabile `diff_means`

In [5]:
diff_means = means[0] - means[1]

diff_means

r           -1.000000
gravity     -0.006099
ph           0.163078
osmo      -117.589899
cond        -0.805882
urea       -68.065359
calc        -3.518052
dtype: float64

In [6]:
assert diff_means.gravity < 0

### Lista di urea 

Definire una lista di nome `urea` con i valori della colonna 'urea' del dataset.

In [7]:
urea = list(dataset.urea)

print(urea)

[443, 296, 101, 224, 91, 252, 195, 550, 170, 382, 152, 448, 64, 147, 161, 284, 133, 395, 95, 214, 380, 199, 87, 422, 239, 270, 75, 72, 159, 349, 282, 297, 317, 130, 362, 330, 125, 260, 97, 311, 385, 104, 187, 126, 308, 325, 354, 360, 302, 364, 301, 197, 188, 124, 398, 159, 516, 212, 486, 224, 385, 473, 620, 430, 198, 184, 164, 141, 396, 457, 10, 395, 272, 418, 301, 195, 394, 255, 178]

### Conversione di unità di misura 

L'urea rappresentata nel dataset è misurata in millimoli per litro. Una millimole per litro di urea corrisponde a 6.006 mg/dL (milligrammi per decilitro). Utilizzando la funzione `map`, applicare alla lista `urea` una funzione lambda che converta i valori riportati nella lista in mg/dL. Memorizzare il risultato nella variabile `urea_mg`.

In [8]:
urea_mg = map(lambda x : x * 6.006 , urea)

In [9]:
assert isinstance(urea_mg, map)

### Nuova colonna in DataFrame 

Aggiungere una nuova colonna in `dataset` denominata `urea_mg` valorizzata con la sequenza dei valori dell'oggetto `urea_mg`.

In [10]:
dataset['urea_mg'] = list(urea_mg)

dataset

    r  gravity    ph   osmo  cond  urea   calc   urea_mg
1   0    1.021  4.91  725.0   NaN   443   2.45  2660.658
2   0    1.017  5.74  577.0  20.0   296   4.49  1777.776
3   0    1.008  7.20  321.0  14.9   101   2.36   606.606
4   0    1.011  5.51  408.0  12.6   224   2.15  1345.344
5   0    1.005  6.52  187.0   7.5    91   1.16   546.546
.. ..      ...   ...    ...   ...   ...    ...       ...
75  1    1.025  7.90  721.0  23.6   301   9.04  1807.806
76  1    1.017  4.81  410.0  13.3   195   0.58  1171.170
77  1    1.024  5.40  803.0  21.8   394   7.82  2366.364
78  1    1.016  6.81  594.0  21.4   255  12.20  1531.530
79  1    1.015  6.03  416.0  12.8   178   9.39  1069.068

[79 rows x 8 columns]

### Combinazione lineare 

Definire una funzione di nome `decisor` con parametri `ph` e `calc` che restituisce 0 se il valore della seguente combinazione lineare $$y = -0.33\mathrm{ph} + 0.45\mathrm{calc} - 0.15$$
è negativo, altrimenti restituisce 1.

In [14]:
def decisor (ph , calc):
    
    return - 0.33 * ph + 0.45 * calc - 0.15 if y < 0 else 1


print(decisor(0 , 0))
print(decisor(0 , 1))
print(decisor(1 , 0))
print(decisor(1 , 1))

NameError: name 'y' is not defined

In [15]:
assert decisor(0,0) == 0
assert decisor(1,0) == 0
assert decisor(0,1) == 1

NameError: name 'y' is not defined

### Classificazione 

Definire una lista di nome `target` che contiene i valori della colonna `r` del dataset. Definire una seconda lista, di nome `actual` che contiene la sequenza dei valori che si ottiene applicando la funzione `decisor` ai valori di 'ph' e 'calc' di ciascuna riga del dataset.

### Accuratezza 

Calcolare l'accuratezza della classificazione effettuata mediante la funzione `decisor` e rappresentata in `actual`. Per calcolare l'accuratezza, occorre contare il numero di volte in cui il valore del target è diverso dal valore della classificazione, dividere il valore ottenuto per il numero di righe del dataset e restituire in `acc` il complemento a 1 del risultato.

In [33]:
assert 0 < acc < 1